In [2]:
from statsmodels.tsa.holtwinters import SimpleExpSmoothing
import pandas as pd
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.graphics.tsaplots import month_plot
from statsmodels.graphics.tsaplots import plot_acf
from sklearn.metrics import mean_absolute_error,mean_squared_error
import matplotlib.pyplot as plt

In [5]:
df=pd.read_csv("data.csv",index_col=0);

In [6]:
df.describe()

       Monthly milk production: pounds per cow. Jan 62 ? Dec 75
count                                         168.000000
mean                                          754.708333
std                                           102.204524
min                                           553.000000
25%                                           677.750000
50%                                           761.000000
75%                                           824.500000
max                                           969.000000

In [7]:
train=df[:40]

In [8]:
test=df[40:]

In [9]:
train.shape

(40, 1)

In [10]:
test.shape

(129, 1)

In [12]:
sd=seasonal_decompose(df['Monthly milk production: pounds per cow. Jan 62 ? Dec 75'],model="additive".period(12);

SyntaxError: invalid syntax (1230734411.py, line 1)

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
df=pd.read_csv("data.csv")

In [5]:
df

,Month,Monthly milk production: pounds per cow. Jan 62 ? Dec 75
0,1962-01,589.0
1,1962-02,561.0
2,1962-03,640.0
3,1962-04,656.0
4,1962-05,727.0
...,...,...
164,1975-09,817.0
165,1975-10,827.0
166,1975-11,797.0
167,1975-12,843.0
168,Monthly milk production: pounds per cow. Jan 6...,NaN

In [6]:
df.tail()

,Month,Monthly milk production: pounds per cow. Jan 62 ? Dec 75
164,1975-09,817.0
165,1975-10,827.0
166,1975-11,797.0
167,1975-12,843.0
168,Monthly milk production: pounds per cow. Jan 6...,NaN

In [7]:
df.head()

     Month  Monthly milk production: pounds per cow. Jan 62 ? Dec 75
0  1962-01                                              589.0
1  1962-02                                              561.0
2  1962-03                                              640.0
3  1962-04                                              656.0
4  1962-05                                              727.0

In [8]:
df.drop(168,axis=0,inplace=True)

In [9]:
df.tail()

       Month  Monthly milk production: pounds per cow. Jan 62 ? Dec 75
163  1975-08                                              858.0
164  1975-09                                              817.0
165  1975-10                                              827.0
166  1975-11                                              797.0
167  1975-12                                              843.0